
body{

	background-color:black;
	background-image: linear-gradient(to bottom right, grey, black);
	text-align: center;
	color: white;
	
}
	

h4{
	background-color:white;
	color:black;
}

.tasty{
	color:white;
}

.tastymodal{
	background-color:grey;
	color:white;
}

.textw{
	color:white;
}

.row{
	margin-top:100px;
	min-height:100px;
	justify-content:space-between;
}