
body{

	background-color:black;
	background-image: linear-gradient(to bottom right, grey, black);
	text-align: center;
	color: white;
	
}
	

h4{
	background-color:white;
	color:black;
}

.tasty{
	color:white;
}

.tastymodal{
	background-color:grey;
	color:white;
}

.textw{
	color:white;
}

.row{
	margin-top:100px;
	min-height:100px;
	justify-content:space-between;
}


    
    .progress {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      height: 5px;
    }

    /* Styling for the button */
    #beerButton {
      position: fixed;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
      background-color: green;
      color: white;
      z-index: 1001; /* Ensure it's above the progress bar */
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
	
	
    #main{
      text-align: center;
    }