@media(min-width:945px){
.container-1{
      display:flex;
	  align-items:flex-start;
	  flex-grow: 1;
	  border:1px #ccc solid;
    }

.lnkprof_class{
	display: none !important;
}


.skllz_class{
	display: none !important;
}


 .container-2{
      display:flex;  
	  border:1px #ccc solid;
      justify-content:space-between;
    }
}

body{
	background-color:black;
	background-image: linear-gradient(to bottom right, grey, black);
	text-align: center;
	color: white;
	
}

img{
  max-width: 100%;
  height: auto;
}



div{
	border:1px #ccc solid;
    justify-content: center;

}

#lnkprof{
	
}


#skllz{
	
}


.jump:hover{
	color:white;
	text-shadow: 2px 2px #000000;
	font-size:400%;
	display:flex;
	/*would like some advice here, jumps around without being able to click on too easily*/
}

